<ion-header class="header">
  <ion-navbar  color="primary">
    <button ion-button icon-left menuToggle>  
      <ion-icon md="md-menu"></ion-icon>
    </button>
    <ion-title>
      Now Orders
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="status" color="jaa" (ionChange)="getOrder(status)">
      <ion-segment-button value="waiting">
        waiting
      </ion-segment-button>
      <ion-segment-button value="doing">
        doing
      </ion-segment-button>
      <ion-segment-button value="done">
        done
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let order of orders">
    <ion-item>
    <h2 item-left>{{order.wait_time}}</h2>
        <h2>{{order.food.title}}</h2>
    </ion-item>
  </ion-card>
  <!-- <h2 *ngFor="let order of orders">{{order.food.title}}</h2> -->
  <!-- <button ion-button (click)="emitHello()">send</button>  -->

</ion-content>
