<ion-header class="header">
  <ion-navbar  color="primary">
    <button ion-button icon-left menuToggle>  
      <ion-icon md="md-menu"></ion-icon>
    </button>
    <ion-title>
      Now Orders
    </ion-title>

    <ion-buttons end>
    <button ion-button (click)="dd()">dd</button>
      <button ion-button (click)="openPreOrders()">
        <ion-badge color="light" *ngIf="isPreOrderComing">!</ion-badge>
        Pre-Order
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <button color="light" ion-button outline block (click)="chooseCats()">{{chosenCatsTxt}}</button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{chosenCats|json}} -->
  <ion-item [hidden]="true">
    <ion-label>Select Category</ion-label>
    <ion-select (ionChange)="getOrderByFilter()" [(ngModel)]="chosenCats" #catsSelect multiple="true" okText="save" cancelText="cancel">
      <ion-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- {{orders|json}} -->
  <ion-list>
    <ion-item style="padding-left: 0px;" *ngFor="let order of orders">
      <ion-grid style="margin-left: 8px;">
        <ion-row>
          <ion-col><h1>{{order.food.title}}</h1></ion-col>
          <ion-col style="text-align: right;">
            <h3>Table No.{{order.bill.table_number}}</h3>
            <h5>{{order.bill.bill_number}}</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Place: {{order.togo ? "To Go" : "For Here"}}</h2>
            <h2></h2>
            <h2>Amount: {{order.amount}}</h2>
            <h2>Special Details</h2>
            <!-- {{order.selected_toppings|json}} -->
            <h2 *ngIf="order.selected_toppings.length == 0">none</h2>
            <h2 *ngFor="let topping of order.selected_toppings">-{{topping.title}}: {{topping.optionTitle}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-80>
            <button (click)="changeOrderStatus(order._id, 'doing')" [hidden]="order.status != 'waiting'" block round outline ion-button>
              Waiting
            </button>
            <button (click)="changeOrderStatus(order._id, 'waiting')" [hidden]="order.status != 'doing'" block round ion-button color="light">
              Cooking...
            </button>
          </ion-col>
          <ion-col width-20>
            <button (click)="changeOrderStatus(order._id, 'done')" block round ion-button>
              Done
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
