<!--
  Generated template for the ModalCreateFoodPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>New Food</ion-title>
		<ion-buttons end>
			<button ion-button (click)="cancel()">
				<ion-icon md="md-close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content >
	<ion-list class="field-list">
		<ion-item *ngIf="img_url">
			<img [src]="img_url">
			<button ion-button clear block (click)="bb()">
				Edit Picture
			</button>
		</ion-item>
		<ion-item *ngIf="!img_url">
			<button  ion-button clear block (click)="bb()">
				Tap to Add Picture
			</button>
		</ion-item>
		<!-- <ion-item>
			<ion-label color="primary" stacked >Picture</ion-label>
			<ion-input type="text" placeholder="Tap to Add Picture"></ion-input>
		</ion-item> -->
		<ion-item>
			<ion-label color="primary" stacked >Title</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Price</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Estimate Time</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Type</ion-label>
			<ion-select [(ngModel)]="selectedType">
				<ion-option *ngFor="let item of types" [value]="item">{{item}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Category</ion-label>
			<ion-select [(ngModel)]="selectedCat">
				<ion-option *ngFor="let item of categories" [value]="item">{{item}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Options</ion-label>
			<ion-select [(ngModel)]="selectedOptions" multiple="true">
				<ion-option *ngFor="let item of options" [value]="item">{{item}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="selectedOptions">
			<p *ngFor="let item of selectedOptions">{{item}}</p>
		</ion-item>
		<ion-item>
			<button ion-button (click)="openNewOption()">new option</button>
			<button ion-button>save</button>			
		</ion-item>
		<!-- <ion-item>
			<ion-label color="primary" floating>Category</ion-label>
			<ion-select [(ngModel)]="selectedCat">
				<ion-option *ngFor="let item of categories" >{{item}}</ion-option>
			</ion-select>
		</ion-item> -->

	</ion-list>
</ion-content>
<ion-footer>
	<button block ion-button>OK</button>
	<button block ion-button>Cancel</button>
</ion-footer>